html {
    background-color: firebrick;
}

/*Titre */
h1 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 50px;
}

/*Titres */
h4, h2, h3 {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

/*Container principal des deux joueurs */
.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: auto;
    position: absolute;
    top : 20%;
    transform: translateX(15.5%);
}

/*Container de chaque joueur */
.player1 , .player2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 450px;
    align-items: center;
    justify-content: center;
    top : 50%;

}

.player1 {
    background-color: rgb(230, 225, 225);  
}

.player2 {
    background-color: white;  
}

/* Scores */
.player__score {
    text-align: center;
    color: rgb(206, 96, 78);
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 100;
}

/* Score courrant */
.player__currentScore {
    height: 80px;
    width: 120px;
    background-color: rgb(206, 96, 78);
    margin-top: 100px;
    color: white;
    text-align: center;
}

/* Titre courrant */
h3 {
    font-size: 14px;
    color : black;
}


.player__currentScore--score {
    margin-top: -10px;
    font-size : 25px;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
}
/*Nom du joeur */
.player__name {
    display: flex;
    flex-direction: row;
}


/*Points rouges */
.redpoint{
    background-color: rgb(206, 96, 78);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-left : 20px;
    margin-top: 30px;
}

/* Container de la zone centrale avec dé, et les boutons */
.game{
    position: absolute;
    top : 26%;
    left : 47%;
    display: flex;
    flex-direction: column;
}

.newgame , .roll , .hold {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
}


/* bouttons pour jouer */
.circle {
    color :rgb(206, 96, 78);
    top:50%;
    margin-right: 10px;
    font-weight: 100;
    border: none;
    background-color: none;
    border-radius: 100%;
}

h4 {
    font-size: 14px;
}

.roll , .hold {
    position: absolute;
    top : 500%;
}

.hold {
    top : 600%;
}


/*Dé */
.die {
    position: absolute;
    filter : drop-shadow(0 0 0.75rem grey);
    top : 300%;
    height: 100px;
}

/*Caché */
.hidden {
    visibility: hidden;
}

@media screen and (max-width : 728px) {
    html {
        overflow: hidden;
    }

    .score {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        position: absolute;
        transform: translateX(0);
        top : 0px;
        margin-top: 0px;
    }
    
    .player1 , .player2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
    }
    h1 {
        visibility: hidden;
    }

    h4, h2, h3 {
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
    }

    .game{
        position: absolute;
        display: flex;
        flex-direction: row;
        left : 10px;
    }

    .player__currentScore {
        height: 80px;
        width: 120px;
        background-color: rgb(206, 96, 78);
        margin-bottom: 100px;
        margin-top: 0;
        color: white;
        text-align: center;
        margin-left: 10px;
    }

    .die {
        position: absolute;
        filter : drop-shadow(0 0 0.75rem grey);
        top : 85%;
        height: 100px;
        left : 100%;
    }

}
    